<div class="card" style="width: 18rem;">
  <img [src]="product.imgUrl" class="card-img-top" [alt]="product.imgUrl" style="height: 200px; object-fit: cover;">
  <div class="card-body">
    <h5 class="card-title">{{product.productName}}</h5>
    <p class="card-text"><strong> Price : </strong>{{product.price}}</p>
    <p class="card-text"><strong> Description : </strong>{{product.description}}</p>
    <p class="card-text"><strong> Count: </strong>  {{product.stockCount}} </p>
    <button class="btn btn-primary w-100"[disabled]="product.stockCount === 0"(click)="addToCart()">Add to cart</button>
  </div>
</div>